.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.tab {
    margin-left: 20px;
}

.list-item {
    height: 5vh;
}
